<div class = container>
    <h6 class="brand text-center m-auto p-3">Helping you and your famly live a more sustainable life.</h6>
    <div class="box mx-auto p-4">
        <p class="lead text-center raleway p-1 mx-auto">Text about The Jones family and our passion to make family sustainability easy and accessable to all</p>
        <%= image_tag 'kid_mtn.png', class: "rounded mx-auto d-block"%>
        <p class="text-left raleway p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel elit eu mauris volutpat tincidunt in nec sapien. Quisque erat nisl, convallis pretium congue in, condimentum id est. Nunc cursus bibendum magna eget suscipit. Nunc a iaculis nibh. Donec maximus augue vitae ipsum ullamcorper, eget tristique sapien varius. Donec odio augue, suscipit at magna consectetur, facilisis tempor ligula. Maecenas sit amet iaculis purus.

    Aenean hendrerit euismod ipsum. Vivamus mattis sem ut felis pellentesque, eget pretium dolor luctus. Phasellus efficitur consequat nibh quis facilisis. Phasellus ac quam at leo interdum lobortis ac et ex. Integer eget dignissim lacus. Mauris aliquam sodales tincidunt. Proin tempus nunc lacus. Cras hendrerit velit pellentesque nisi convallis lobortis id at augue. Mauris ornare, ipsum non sollicitudin elementum, tellus neque feugiat sapien, sit amet lobortis augue ligula non purus. Nunc laoreet, diam eget egestas malesuada, erat justo ultricies justo, a sodales mauris enim ut lorem.

    Maecenas quis lectus sit amet ante dignissim bibendum eu eleifend risus. Nunc pretium urna a tempus finibus. Donec suscipit viverra nibh a sodales. Sed a tortor ligula. Donec faucibus magna tellus, id porttitor urna tincidunt ut. Sed nec viverra purus, non porttitor dui. In condimentum felis eget nisl luctus finibus.</p>
    </div>
</div>